@import url('https://fonts.googleapis.com/css?family=Oxygen');

.App-parent {
  height: 100vh;
  background-color: rgb(245, 245, 245);
  font-family: 'Oxygen', sans-serif;
  letter-spacing: 2px;
}

.content {
  margin: auto;
  position: relative;
  top: 80px;
  width: 60%;
}

a:link {
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: white;
  text-decoration: none;
}

.bluelink:link {
  color: #028cd1;
}
.bluelink:hover {
  /* color: #028cd1; */
}
.bluelink:visited {
  color: #028cd1;
}